.container{
    display: flex;
    flex-direction: row;
}

.sidebar{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25;
    border-right: 2px solid grey;
}
.heading{
    font-weight: bold;
    margin-bottom: 20;
    padding-bottom: 25px;
    font-family: "Montserrat";
    
}
.description{
    width: 100%;
    font-family: "Montserrat";
    padding: 25;
    padding-bottom: 1rem;
    padding-top: 0;
    
}
.marketData{
    align-self: start;
    padding: 25;
    padding-top: 10;
    width: 100%;
    
}

.watchList{
    width: 90%;
    height: 40px;
    background-color: #EEBC1D;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.4s;
}
.watchList:active{
    transform: scale(0.97);
}

@media only screen and (max-width: 768px) {
    .container{
        flex-direction: column;
        align-items: center;
    }
    .sidebar{
        width: 100%;
    }
    .marketData{
        display: flex;
        justify-content: space-around;
    }
    .watchList{
        max-width: 20%;
    }
  }
